@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');
.App {
  display: grid;
  margin-top: 70px;

  margin-bottom: 170px;

}

.CreateTaskInput{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.CreateTaskInput input{
  width: 40%;
  border-radius: 15px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left: 25px;
  height: 40px;
  margin-bottom: 20px;
  font-family: 'Wix Madefor Display','sans-serif';
}

.CreateTaskInput input::placeholder{
  font-family: 'Wix Madefor Display';
}

.CreateTaskButton{
  cursor: pointer;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  background-color: black;
  color: aliceblue;
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 20px;
  margin-bottom: 170px;

}
